doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="./css/shared.css")
        link(rel="stylesheet" href="./css/index.css")

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet")
        script(src="https://kit.fontawesome.com/30b69f8f5c.js" crossorigin="anonymous")
        title LaslesVPN
    body
        header 
            .header__container.container 
                .logo 
                    a(href="#")
                        img(src="./img/header/logo.svg" alt="logo")
                .menu 
                    a(href="#") About   
                    a(href="#") Features   
                    a(href="#") Pricing   
                    a(href="#") Testimonials   
                    a(href="#") Help
                .buttons 
                    button.sign-in Sign In 
                    button.sign-up Sign Up 
                .burger 
                    a(href="#") 
                        i(class="fa-solid fa-bars") 
        main 
            .main__container.container 
                .block__contant
                    h1.title Want anything to be easy with
                        span  LaslesVPN.
                    h2.subtitle Provide a network for all your needs with ease and fun using LaslesVPN discover interesting features from us. 
                    button.get-started Get Started
                .block__image
                    img(src="./img/main/block-image.svg" alt="block__image")
        section.about 
            .about__container.container 
                .item 
                    .image 
                        img(src="./img/about/user.svg" alt="user")
                    .block__text 
                        h2.amount 90+
                        h3.name Users
                .item.with-border 
                    .image 
                        img(src="./img/about/location.svg" alt="location")
                    .block__text 
                        h2.amount 30+
                        h3.name Locations
                .item 
                    .image 
                        img(src="./img/about/server.svg" alt="server")
                    .block__text 
                        h2.amount 50+
                        h3.name Servers
        section.provide
            .provide__container.container 
                .image 
                    img(src="./img/provide/provide.svg" alt="")
                .text
                    h2.title We Provide Many Features You Can Use
                    h3.subtitle You can explore the features that we provide with fun and have their own functions each feature.
                    .list 
                        .list-item 
                            img(src="./img/provide/list-item.svg" alt="")
                            h4 Powerfull online protection.
                        .list-item 
                            img(src="./img/provide/list-item.svg" alt="")
                            h4 Internet without borders.
                        .list-item 
                            img(src="./img/provide/list-item.svg" alt="")
                            h4 Supercharged VPN
                        .list-item 
                            img(src="./img/provide/list-item.svg" alt="")
                            h4 No specific time limits.
        section.plan 
            .plan__container.container 
                h3.title Choose Your Plan
                h4.subtitle Let's choose the package that is best for you and explore it happily and cheerfully.
                .plan__block 
                    .block__item 
                        .up__block
                            .image 
                                img(src="./img/plan/plan.svg" alt="")
                            h4.title-plan Free Plan
                            .list-plan
                                .item-list 
                                    .icon
                                        img(src="./img/plan/icon.svg" alt="")
                                    h5 Unlimited Bandwitch
                                .item-list 
                                    .icon
                                        img(src="./img/plan/icon.svg" alt="")
                                    h5 Encrypted Connection
                                .item-list 
                                    .icon
                                        img(src="./img/plan/icon.svg" alt="")
                                    h5 No Traffic Logs
                                .item-list 
                                    .icon
                                        img(src="./img/plan/icon.svg" alt="")
                                    h5 Works on All Devices
                        .down__block        
                            .price Free
                            button Select   
                    .block__item 
                        .up__block
                            .image 
                                img(src="./img/plan/plan.svg" alt="")
                            h4.title-plan Standard Plan
                            .list-plan
                                .item-list 
                                    .icon
                                        img(src="./img/plan/icon.svg" alt="")
                                    h5 Unlimited Bandwitch
                                .item-list 
                                    .icon
                                        img(src="./img/plan/icon.svg" alt="")
                                    h5 Encrypted Connection
                                .item-list 
                                    .icon
                                        img(src="./img/plan/icon.svg" alt="")
                                    h5 Yes Traffic Logs
                                .item-list 
                                    .icon
                                        img(src="./img/plan/icon.svg" alt="")
                                    h5 Works on All Devices
                                .item-list 
                                    .icon
                                        img(src="./img/plan/icon.svg" alt="")
                                    h5 Connect Anyware
                        .down__block        
                            .price $9 
                                span / mo
                            button Select
                    .block__item 
                        .up__block
                            .image 
                                img(src="./img/plan/plan.svg" alt="")
                            h4.title-plan Premium Plan
                            .list-plan
                                .item-list 
                                    .icon
                                        img(src="./img/plan/icon.svg" alt="")
                                    h5 Unlimited Bandwitch
                                .item-list 
                                    .icon
                                        img(src="./img/plan/icon.svg" alt="")
                                    h5 Encrypted Connection
                                .item-list 
                                    .icon
                                        img(src="./img/plan/icon.svg" alt="")
                                    h5 Yes Traffic Logs
                                .item-list 
                                    .icon
                                        img(src="./img/plan/icon.svg" alt="")
                                    h5 Works on All Devices
                                .item-list 
                                    .icon
                                        img(src="./img/plan/icon.svg" alt="")
                                    h5 Connect Anyware
                                .item-list 
                                    .icon
                                        img(src="./img/plan/icon.svg" alt="")
                                    h5 Get New Features
                        .down__block        
                            .price $12
                                span / mo
                            button Select
        section.network 
            .network__container.container
                h3.network__title Huge Global Network of Fast VPN
                h4.network__subtitle See LaslesVPN everywhere to make it easier for you when you move locations.
                .map 
                    img(src="./img/network/map.svg" alt="")
                .partners 
                    .name 
                        img(src="./img/partners/netflix.svg" alt="")
                    .name 
                        img(src="./img/partners/reddit.svg" alt="")
                    .name 
                        img(src="./img/partners/netflix.svg" alt="")
                    .name 
                        img(src="./img/partners/discord.svg" alt="")
                    .name 
                        img(src="./img/partners/spotify.svg" alt="")
        section.reviews
            .reviews__container.container 
                h3.reviews__title Trusted by Thousands of Happy Customer
                h4.reviews__subtitle These are the stories of our customers who have joined us with great pleasure when using this crazy feature.
                .box 
                    .box__item 
                        .profile
                            .block
                                .photo 
                                    img(src="./img/reviews/photo-1.jpg" alt="")
                                .information 
                                    h4.name Viezh Robert
                                    h4.location Warsaw, Poland
                            .support 
                                h4.meaning 4.5
                                .star 
                                    img(src="./img/reviews/star.svg" alt="")
                        .text “Wow... I am very happy to use this VPN, it turned out to be more than my expectations and so far there have been no problems. LaslesVPN always the best”.
                    .box__item 
                        .profile
                            .block
                                .photo 
                                    img(src="./img/reviews/photo-2.jpg" alt="")
                                .information 
                                    h4.name Yessica Christy
                                    h4.location Shanxi, China
                            .support 
                                h4.meaning 4.5
                                .star 
                                    img(src="./img/reviews/star.svg" alt="")
                        .text “I like it because I like to travel far and still can connect with high speed.”.
                    .box__item 
                        .profile
                            .block
                                .photo 
                                    img(src="./img/reviews/photo-3.jpg" alt="")
                                .information 
                                    h4.name Kim Young Jou
                                    h4.location Seoul, South Korea
                            .support 
                                h4.meaning 4.5
                                .star 
                                    img(src="./img/reviews/star.svg" alt="")
                        .text “This is very unusual for my business that currently requires a virtual private network that has high security.”.
        section.slider 
            .slider__container.container
                .box1 
                    button.element1 
                    button.element2
                    button.element2
                    button.element2
                .box2
                    button.left 
                        img(src="./img/slider/left.svg" alt="")
                    button.right
                        img(src="./img/slider/right.svg" alt="")
        section.footer 
            .footer__container.container 
                .subscribe 
                    .text 
                        h2.title Subscribe Now for Get Special Features!
                        h3.subtitle Let's subscribe with us and find the fun.
                    .button
                        button Subscribe Now
                .social 
                    .logotip 
                        img(src="./img/footer/logo.svg" alt="")
                    .text LaslesVPN is a private virtual network that has unique features and has high security.
                    .icon
                        a(href="#")
                            img(src="./img/footer/facebook.svg" alt="")
                        a(href="#")
                            img(src="./img/footer/twitter.svg" alt="")
                        a(href="#")
                            img(src="./img/footer/instagram.svg" alt="")
                    .text2 ©2020LaslesVPN   
                .links
                    .item 
                        .name Product
                        a(href="#") Download 
                        a(href="#") Pricing  
                        a(href="#") Locations 
                        a(href="#") Server  
                        a(href="#") Countries  
                        a(href="#") Blog
                    .item 
                        .name Engage
                        a(href="#") LaslesVPN ? 
                        a(href="#") FAQ 
                        a(href="#") Tutorials
                        a(href="#") About Us  
                        a(href="#") Privacy Policy  
                        a(href="#") Terms of Service
                    .item 
                        .name Earn Money
                        a(href="#") Affiliate
                        a(href="#") Become Partner